*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body{
    height: 100%;
}

/* Classes auxiliares */

.clear{
    clear: both;
}

.container{
    max-width: 960px;
    padding: 0 2%;
    margin: 0 auto;
}

/* estilos site */

/* section 1 */

section.header-master{
    width: 100%;
    padding: 30px 0 80px 0;
    min-height: 700px;
    background-image: url(../images/bg_01.png);
    background-size: cover;
}

section.header-master header{
    border-bottom: 2px solid rgba(71, 83, 88, 0.2);
    padding-bottom: 20px;
}

div.logo{
    float: left;
    width: 166px;
    height: 64px;
    background-image: url(../images/logo.png);
    background-size: 100% 100%;
}

nav.mobile{
    position: relative;
    top: 10px;
    margin-right: 10px;
    display: none;
    float: right;
}

nav.mobile h3{
    cursor: pointer;
    color: white;
    font-size: 28px;
}

ul.nav-desktop{
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    background-color: #6cc5b2;
    display: none;
    list-style-type: none;
}

ul.nav-desktop li{
    padding: 9px 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
}

ul.nav-desktop a{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none; 
}

header nav.desktop{
    float: left;
    padding-left: 60px;
}

header nav.desktop ul{
    list-style-type: none;
}

header nav.desktop li{
    padding: 0 15px;
    display: inline-block;
    font-size: 16px;
    color: white;
}

header li > a{
    color: inherit;
    text-decoration: none;
}

li.selected{
    color: #509d87;
    position: relative;
}

li.selected span{
    position: absolute;
    bottom: 0;
    width: 17px;
    height: 3px;
    background-color: #509d87;
}

div.telefone-header{
    float: left;
    position: relative;
    top: -3px;
}

div.telefone-header span{
    font-size: 22px;
    color: white;
    padding-left: 30px;
}

.content-header{
    padding: 60px 0;
}

.content-header .one{
    float: left;
    width: 50%;
}

.content-header .one h2{
    color: #509d87;
    font-weight: normal;
    font-size: 37px;
}

.content-header .one p,
.content-header .one span{
    padding: 15px 0;
    font-size: 15px;
}

.content-header .one form input{
    display: inline-block;
}

.content-header .one form input[type=email]{
    width: 251px;
    height: 50px;
    border: 3px solid #ccc;
    border-radius: 40px;  
    padding-left: 25px;
    font-size: 16px;
}

.content-header .one form input[type=email]:focus{
    outline: 0;
}

.content-header .one form input[type=submit]{
    background-color: #00daaa;
    color: white;
    cursor: pointer;
    border: 0;
    height: 50px;
    padding: 0px 30px;
    margin-left: 4px;
    border-radius: 40px;
    font-size: 16px;
}

.content-header .one span{
    color: #509d87;
    font-size: 13px;
    margin-top: 15px;
    display: block;
}

.content-header .two{
    float: left;
    width: 50%;
    padding: 0 10px;
}

.content-header .two img{
    float: left;
    width: 50%;
    padding: 0 0 10px 15px;
}

/* diferenciais */

section.diferenciais{
    padding: 40px 0;
}

section.diferenciais .container{
    display: flex;
    flex-wrap: wrap;
}

.diferencial-single{
    width: 33.3%;
    margin-bottom: 30px;
}

.diferencial-single img{
    max-width: 100%;
}

.diferencial-single h2{
    margin: 20px 0 30px 0;
    font-size: 30px;
    color: black;
}

.diferencial-single h2 > b{
    color: #7dd5b0;
}

.diferencial-single p{
    color: #2d2d2d;
    font-size: 14px;
    font-weight: bold;
    max-width: 90%;
}

/* sobre */

.sobre > .container{
    max-width: 1440px;
    z-index: 2;
    position: relative;
}

.sobre-container{
    float: left;
    width: 50%;
}

.sobre-container img{
    max-width: 100%;
    position: relative;
    top: 30px;
}

.sobre-container h2{
    font-size: 33px;
    margin: 10px 0;
    color: #a9c4b8;
    font-weight: normal;
}

.sobre-container h2 > b{
    color: #03ca9f;
}

.sobre-container p{
    color: black;
    font-size: 15px;
}

.padsobre{
    padding: 15px 70px;
}

section.depoimento{
    width: 100%;
    padding-top: 200px;
    padding-bottom: 300px;
    color: #2d2d2d;
    text-align: center;
    position: relative;
    top: -70px;
    z-index: 3;
    background-image: url(../images/bg_02.png);
    background-size: cover;
}

section.depoimento h2{
    max-width: 80%;
    position: relative;
    left: 10%;
    font-weight: normal;
    font-size: 29px;
}

section.depoimento p{
    font-size: 15px;
}

/* etapas */

section.etapas{
    padding: 40px 0;
}

section.etapas h2{
    text-align: center;
    color: #3b3e42;
}

section.etapas h2 > b{
    color: #7dd5b0;
}

section.etapas .container{
    max-width: 1200px;
}

.etapas_single{
    float: left;
    width: 50%;
}

.etapas__group img{
    max-width: 100%;
    float: left;
}

.etapas__group p{
    width: 50%;
    float: left;
    padding-top: 90px;
    max-width: 190px;
    padding-left: 30px;
    color: #509d87;
}

.etapas__group2{
    margin-bottom: 40px;
}

.etapas__group2 .circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    border: 1px solid #ccc;
    position: relative;
}

.circle span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: #03ca9f;
}

.line{
    position: absolute;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%,0);
    height: 40px;
    width: 1px;
    background-color: #ccc;
    top: 100px;
}

.etapas__descricao{
    float: left;
    width: calc(100% - 100px);
    padding: 10px 20px;
}

.etapas__descricao h3{
    color: #03ca9f;
    font-size: 18px;
}

.etapas__descricao p{
    color: #2d2d2d;
    font-weight: bold;
    font-size: 14px;
}

/* diferencas */

section.diferencas{
    padding-bottom: 50px;
}

section.diferencas > .container{
    max-width: 800px;
    text-align: center;
}

.diferencas__single{
    float: left;
    width: 50%;
    border-right: 2px solid rgb(165, 165, 165);
}

.diferencas__single:nth-of-type(2){
    border: 0;
}

.diferencas__single h2, .item-diferencas-1 span{
    color: #a9c4b8;
}

.diferencas__single h2{
    font-size: 30px;
    font-weight: normal;
}

.item-diferencas-1{
    display: inline-block;
    margin-top: 10px;
    position: relative;
}

.item-diferencas-2{
    margin-bottom: 10px;
}

.line-diferencas-1{
    position: absolute;
    left: 0;
    top: 14px;
    width: 100%;
    height: 2px;
    transform: rotateZ(-3deg);
    background-color: rgba(255, 0, 0, 0.5);
    z-index: 999;
}

.item-diferencas-1 span{
    font-weight: bold;
    font-size: 21px;
}

.item-diferencas-2 span{
    color: #7dd5b0;
    font-weight: bold;
    font-size: 21px;
}

section.contato{
    padding: 40px 0;
    background-color: #98fcde;
}

section.contato > .container{
    max-width: 800px;
}

section.contato h2{
    text-align: center;
    color: #509d87;
    font-size: 24px;
}

section.contato p{
    text-align: left;
    color: #509d87;
    padding: 20px 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 17px;
    border-bottom: 1px solid #509d87;
}

section.contato .form-group{
    margin-top: 10px;
}

section.contato input[type=text]{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #ccc;
    padding-left: 12px;
    margin-bottom: 10px;
    font-size: 16px;
}

section.contato input[type=text]:focus, section.contato textarea:focus{
    outline: 0;
}

section.contato textarea{
    width: 100%;
    height: 120px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 12px;
    resize: none;
    font-size: 16px;
}

section.contato input[type=submit]{
    width: 180px;
    height: 60px;
    border-radius: 100px;
    background-color: #0ed2a7;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: 0;
}

footer{
    padding: 20px 0;
    background-color: #6cc5b2;
    text-align: center;
}

/* media querys */

@media screen and (max-width: 1024px){
    .etapas__group{
        margin-bottom: 40px;
    }
    .etapas_single{
        width: 100%;
    }

    section.etapas .container{
        max-width: 700px;
    }

    section.etapas h2{
        margin: 15px 0;
    }

    .etapas__group img{
        max-width: 100%;
        display: block;
        float: none;
        margin: 0 auto;
    }
    
    .etapas__group p{
        text-align: center;
        display: block;
        float: none;
        width: 100%;
        max-width: none;
        padding-top: 15px;
        padding-left: 0;
    }
}

@media screen and (max-width: 935px){
    .content-header .one{
        width: 100%;
        text-align: center;
    }

    .telefone-header{
        display: none;
    }

    .content-header .two{
        display: none;
    }

    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: block;
    }

    section.header-master{
        min-height: 400px;
    }

    .content-header .one form input[type=submit]{
        margin-top: 10px;
    }

    .diferencial-single{
        width: 100%;
        text-align: center;
    }

    .sobre-container{
        width: 100%;
    }
    
    .padsobre{
        padding: 0;
    }

    .sobre > .container{
        z-index: 0;

    }

    section.depoimento{
        top: 0;
    }

    .sobre-container img{
        top: 0;
    }

    section.diferencas{
        padding: 0;
    }

    .diferencas__single{
        width: 100%;
        border-right: 0;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 580px){
    .etapas__group2{
        max-height: 100px;
    }
}

@media screen and (max-width: 465px){
    .etapas__group2{
        display: none;
    }
}